{% extends "base.html.twig" %}

{% block body %}
<div class="container">

<h1 class="mt-4">Modification d'un ingrédient</h1>



{{ form_start(form) }}
{#besoin de mettre un token avec de stocker le nouvel element ingredient créer et premettre la redirection#}
{{ form_widget(form._token)}}
    

    <div>
      {{ form_label(form.name)}}
      {{ form_widget(form.name)}}
      <div class="form-error">{{ form_errors(form.name)}}</div>
      
    </div>
    <div>
      {{ form_label(form.price)}}
      {{ form_widget(form.price)}}
      <div class="form-error">{{ form_errors(form.price)}}</div>
      
    </div>

    <div>
    {{ form_row(form.submit)}}
    </div>
{{ form_end(form) }}
</div>
{% endblock %}