{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes ingrédients
{% endblock %}

{% block body %}
    <div class="container mt-4" >
  {# condititon si ingredient n'etait pas vide on affiche l'affichage classique et qui si il ne l'est pas on affiche qu'il n'y pas d'ingredient#}
{% if not ingredients.items is same as ([]) %}
        <h1>Mes ingrédients</h1>
    {# path : packa de symfony qui nous permet de renseigner une Route #}
    <a href="{{ path('ingredient.new')}}" class="btn btn-primary">
    Ajouter un ingrédient</a>

    <h4 class="count mt-4">
        Il y a {{ ingredients.getTotalItemCount}} ingrédients au total
    </h4>
        
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Date de création</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    
    

    {% for ingredient in ingredients %}
        <tr class="table-primary">
            <th scope="row">{{ ingredient.id }}</th>
            
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.price }}</td>
            <td>{{ ingredient.createdAt|date("m/d/y") }}</td>
            <td><a href="{{ path('ingredient.edit', { id: ingredient.id})}} " class="btn btn-outline-success">Modifier</a></td>
            <td><a href="{{ path('ingredient.delete', {id: ingredient.id})}}" class="btn btn-outline-warning">Supprimer</a></td>
           
        </tr>
    {% endfor %}
    
  </tbody>
</table>

<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
</div>
{% else %}
    <h4>Il n'y a pas d'ingrédients</h4>
{% endif %}
 
        
</div>
{% endblock %}
